## Name Classifier using nltk

In [16]:
def gender_features(word):
    return {'last_letter':word[-1]}

In [17]:
import nltk

nltk.download('names')

[nltk_data] Downloading package names to
[nltk_data]     C:\Users\dhaya\AppData\Roaming\nltk_data...
[nltk_data]   Package names is already up-to-date!

True

In [18]:
from nltk.corpus import names
names.words()
print(len(names.words()))

7944

In [19]:
labeled_names = ([(name, 'male') for name in names.words('male.txt')] + [(name, 'female') for name in names.words('female.txt')])

In [20]:
import random
random.shuffle(labeled_names)

featuresets = [(gender_features(n), gender) for (n, gender) in labeled_names]

train_set, test_set = featuresets[:5000], featuresets[-2000:]

classifier = nltk.NaiveBayesClassifier.train(train_set)

classifier.classify(gender_features('David'))
classifier.classify(gender_features('Yann Lecun'))

print(nltk.classify.accuracy(classifier, test_set))

0.764

In [21]:
print(len(train_set))
print(len(test_set))

5000
2000

## Log Analysis Dataset

In [1]:
import pandas as pd

df = pd.read_csv("logs_dataset.csv")
df.head()

                    @timestamp                   _id  ip_address
0  July 8th 2019, 14:43:03.000  XswJ0msBoTGddM7vxMDB  10.1.1.285
1  July 8th 2019, 14:43:01.000  dKQJ0msB7mP0GwVzvJjz  10.1.2.389
2  July 8th 2019, 14:42:59.000  CcwJ0msBoTGddM7vtb8y  10.1.1.415
3  July 8th 2019, 14:42:57.000  bKQJ0msB7mP0GwVzrZdT   10.1.1.79
4  July 8th 2019, 14:42:55.000  L6QJ0msB7mP0GwVzpZeI   10.1.1.60

In [2]:
len(df)

721547